.hero {
    width: 100%;
    min-height: 365px;
    background-color: #0E2D72;
    color: #FFF;
    padding: 50px 70px;
    margin-bottom: 30px;
}
.info {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 80px;
}

.para {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-areas: 
        "filter legend legend legend legend legend tool tool"
        "kpi1 kpi1 kpi2 kpi2 kpi3 kpi3 tool tool"
        "time time time time time time tool tool"
        "bar1 bar1 bar1 bar1 bar2 bar2 bar2 bar2" 
        "map map map map map map map map"
        "donut donut donut donut method method method method";
    width: 90vw;
    width: 100vw;
    padding: 20px 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 50px 260px 436px 70vh 60vh 1fr;
    gap: 40px;
    margin-bottom: 30px;
}
.filter {
    grid-area: filter;
}
.legend {
    grid-area: legend;
}
.tool {
    grid-area: tool;
}
.kpi1 {
    grid-area: kpi1;
}
.kpi2 {
    grid-area: kpi2;
}
.kpi3 {
    grid-area: kpi3;
}
.donut {
    grid-area: donut;
}
.method {
    grid-area: method;
    .completenessCard a {
        text-decoration: underline;
    }
    button {
        margin-bottom: 40px;
    }
}
.bar1 {
    grid-area: bar1;
}
.bar2 {
    grid-area: bar2;
}
.map {
    grid-area: map;
}
.time {
    grid-area: time;
}
.chartContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.filterPopover {
    background-color: transparent;
    border-radius: 30px;
}
.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    a {
        text-decoration: underline;
    }
}
.bar1{
    grid-area: bar1;
    align-items: center;
}
.bar2{
    grid-area: bar2;
}
.toggleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}
.completenessCard {
    padding: 30px;
    p {
        line-height: 1.35em;
        margin: 10px auto 30px;
    }
}
.feedback {
    position: fixed;
    transform: rotate(-90deg);
    z-index: 1000;
    top: 65vh;
    transform-origin: left;
    left: calc(100vw - 20px);
}