.internal {
    background-color: #0E2D72;
    color: #ffffff;
    height: 2.75em;
    padding: 30px 70px;
}
.methodology {
    width: 50%;
    margin: 70px auto;

    h2 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    p {
        line-height: 1.5em;
        margin-bottom: 3rem;
    }
    a {
        color: #002D72;
        font-weight: 500;
    }
    img {
        display: block;
        margin:auto;
    }
}