.stat {
    font-weight: 600;
    font-size: 54px;
    text-align: center;
    color: #002D72;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.unit {
    text-align: center;
    font-weight: 300;
}
.change {
    margin-top: 2em;
    color: #A15B96;
    text-align: center;
}